-- RLS Policies for taxi_drivers
-- Enable RLS
ALTER TABLE taxi_drivers ENABLE ROW LEVEL SECURITY;

-- Drivers can view and update their own data
CREATE POLICY \
drivers
can
view
own
data\ ON taxi_drivers
FOR SELECT TO authenticated
USING (user_id = auth.uid());

CREATE POLICY \drivers
can
update
own
data\ ON taxi_drivers
FOR UPDATE TO authenticated
USING (user_id = auth.uid())
WITH CHECK (user_id = auth.uid());

CREATE POLICY \drivers
can
insert
own
data\ ON taxi_drivers
FOR INSERT TO authenticated
WITH CHECK (user_id = auth.uid());

-- Admins can view all drivers
CREATE POLICY \admins
can
view
all
drivers\ ON taxi_drivers
FOR SELECT TO authenticated
USING (EXISTS (
  SELECT 1 FROM user_profiles 
  WHERE user_profiles.user_id = auth.uid() 
  AND user_profiles.role = 'admin'
));

-- Customers can view available drivers (for booking)
CREATE POLICY \customers
can
view
available
drivers\ ON taxi_drivers
FOR SELECT TO authenticated
USING (status = 'available' AND is_active = true);
